# Web Framework
fastapi
uvicorn[standard]
python-multipart

# LangChain & Ecosystem
langchain
langchain-community
langchain-core
langchain-groq

# Vectorstore
pinecone

# Embeddings
langchain-google-genai

# PDF Parsing
pypdf

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests
tqdm

# Logging
loguru

#uv pip install -r requirements.txt